# Editors
.vscode/

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
setup/config.py
config.py

# DB
recruit.db
bot/setup/config.py

# Lyrics finder
bot/utils/muma.py

# Error log
discord.log